<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softartdev.lastube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LastubeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chart.ChartActivity"
            android:label="@string/title_activity_top"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.track.TrackActivity"
            android:label="@string/title_activity_track"
            android:parentActivityName=".ui.chart.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softartdev.lastube.ui.chart.ChartActivity" />
        </activity>
        <activity
            android:name=".ui.artist.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:parentActivityName=".ui.chart.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softartdev.lastube.ui.chart.ChartActivity" />
        </activity>
    </application>

</manifest>